@import '../../config';

.into-text-container{
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  color: $white;
  padding: 2rem;

  span{
    color: $accent-color;
  }
}

// media queries
@media screen and (max-width: 1100px) {
  .into-text-container{
    font-size: 2rem;
  }
}