// sass variables

$primary-color: #fff;
$grey-dark-gradient: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
$accent-color: #F0131E;
$primary-accent-gradient: linear-gradient(90deg, #F0131E 80%, #fff 100%);
$gold: #e8b923;