@import './config';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  background: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: rgb(230, 221, 221);
}

body {
  background-color: $primary-color;
  margin: 0;
  font-family:'PT Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 340px;
}

